<html xmlns:th="http://www.thymeleaf.org">
<body xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<div th:insert="fragments/header::header"></div>
<div th:insert="fragments/navbar::navbar"></div>

<div class="container">
    <form method="POST" th:object="${photo}" enctype="multipart/form-data" class="form-group">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
            <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
        </div>
        <h1>Add photo:</h1>
        <h2>Select user name, gallery name and Image file</h2>
        <form class="form-inline">
            <div class="form-group" sec:authorize="hasRole('ROLE_ADMIN')">
                <b> User ID: </b><input type="text" name="userID" class="form-control"/>
            </div>
            <div class="form-group" sec:authorize="hasRole('ROLE_USER')">
                <b> User ID: </b>
                <th:input type="text" name="userID" th:value="${userNameShort}" class="form-control"/>
                <label th:text="${photo.userID}">Input user: </label>
            </div>
            <div class="form-group">
                <b> Album name: </b><input type="text" name="galleryName" class="form-control"/>
            </div>
            <div class="form-group">
                <b> Image: </b><input type="file" name="file"/>
            </div>
            <div>
                <button class="btn btn-success" itemType="submit">Add photo</button>
            </div>
        </form>
    </form>
</div>
<div th:insert="fragments/footer::footer"></div>
</body>
</html>

